/*cabeçalho*/
header img {
    height: 70px;
    width: 70px;
    }

/*Conteudo principal*/
#section-banners img {
    height: 500px;
    }

/*banner*/

/*Produtos vendidos*/
/*Rodapé*/

/*Botão Voltar topo*/

/* página de login  */


/* Formulário de cadastro*/

